---
layout: article
title: "Assignments"
---

All assignments for this course must be written as a report and submitted as a PDF file.
The
<a href="{{ '/assets/assignments/rubric.pdf' | relative_url }}">Report Rubric</a>
will be used to grade the reports.
Here is a <a href="{{ '/assets/assignments/sample.pdf' | relative_url }}">sample report</a> that
follows the rubric.

{% for assign in site.data.assignments %}

<a class="resource-link" href="{{assign.link}}">
  <div class="resource">
    <span class="resource-title">{{assign.name}}</span>
    <span class="resource-date">{% if resource.date %} Due: ({{-resource.date-}}) {% endif -%}</span>
  </div>
</a>
{% if assign.aux %}
<a class="resource-link resource-aux-link" href="{{assign.aux}}">
  <div class="resource resource-aux">
    <span class="resource-aux-label">Auxiliary file: {{ assign.aux | split: '/' | last }}</span>
  </div>
</a>
{% endif %}

{% endfor %}
