---
layout: article
title: "Assignments"
---

All assignments for this course must be written as a report and submitted as a PDF file.
The
<a href="{{ '/assets/assignments/rubric.pdf' | relative_url }}">Report Rubric</a>
will be used to grade the reports.

{% for assign in site.data.assignments %}

<a class="resource-link" href="{{assign.link}}">
  <div class="resource">
    <span class="resource-title">{{assign.name}}</span>
    <span class="resource-date">{% if resource.date %} Due: ({{-resource.date-}}) {% endif -%}</span>
  </div>
</a>

{% endfor %}
