<!DOCTYPE html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta content="Cyber Security Club at UC Davis" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.description }}" property="og:description">
    <meta name="description" content="{{pageDesc}}">
    <meta content="/assets/images/logo.png" property='og:image'>
    <meta name="theme-color" content="#293955">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
